body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif
}

body {
    background-color: #111;
}

hr {
    border-top: 2px solid #333;
}

.w3-row-padding img {
    margin-bottom: 12px
}

#main {
    color: white;
    background-color: #222222;
}

#details {
    background-color: #111111;
    padding: 2.5%;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}