#layers-images {
    background-color: #222222;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

#layers-container img {
    max-height: 75%;
    margin: auto;
    padding: 2%;
    position: fixed;
    top: 50%;
    left: 44%;
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

map {
    display: inline;
}

#layer-dental-default img {
    opacity: 1;
}